*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.DS_Store
EnDecUtilMain.java
build/
/build
/captures
.externalNativeBuild
.gitignore.swp
.transforms
.idea
.so
libs/NeuSDK.jar
/libs/Jama-1.0.3.jar
libs/armeabi-v7a/libneucore.so
/nb
*.nb
app/libs/neulink.jar
EnDecoderUtil
